<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <script src="./js/kuvat.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/tyylit/tyylit.css">
  <script src="./js/peli.js" charset="utf-8"></script>
</head>

<body>
    <%- include('shakkilauta') -%>
    <%- include('chat') -%>
      <script>
        let socket = io();
        let gameID = '<%= gameID %>';
        let status = '<%= status %>';
        socket.emit('peliLuotu', '<%= username %>', '<%= gameID %>');
      </script>

</body>

</html>
